{% extends 'base-index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="content-section col-md-6">
                <form method="POST" id="msform" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- fieldsets -->
                    <fieldset>
                        <h2 class="fs-title">Administrative Information</h2>
                        <h3 class="fs-subtitle">Tell us something more about you</h3>
                        {{ administrativeform|crispy }}
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Product-Market Fit Speculation</h2>
                        <h3 class="fs-subtitle">Tell us something more about you</h3>
                        {{ productmarketform|crispy }}
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Characterizing the Technology</h2>
                        <h3 class="fs-subtitle">Tell us something more about you</h3>
                        {{ characterisingTechnologyform|crispy }}
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Stage of Development</h2>
                        <h3 class="fs-subtitle">Tell us something more about you</h3>
                        {{ stagedevelopmentform|crispy }}
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Competitive Landscape</h2>
                        <h3 class="fs-subtitle">Tell us something more about you</h3>
                        {{ competitivelandscapeform|crispy }}
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Validation</h2>
                        <h3 class="fs-subtitle">Tell us something more about you</h3>
                        {{ validationform|crispy }}
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Post Survey</h2>
                        <h3 class="fs-subtitle">Fill in your credentials</h3>
                        {{ postsurveyform|crispy }}
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="submit" name="submit" class="submit action-button" value="Submit"/>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-6">
                <p>Relevant Urls related to topic</p>
            </div>
        </div>
    </div>
<!-- /.MultiStep Form -->
    <script src="{% static 'js/multiForm.js' %}"></script>
{% endblock content %}
