<div class="footer-content">
    <div class="container-fluid">
        <div class="row">
            <div class="footsec1 col-3">
                <h5 class="white-text">About Connect IP</h5>
                <p class="grey-text text-lighten-4">At Connect Ip we aspire to bring your <br>ideas to the market place.</p>
            </div>
            <div class="footsec2 col-3">
                <h5 class="white-text">Our Services</h5>
                <p class="grey-text text-lighten-4">Machine learning technology to deliver the<br>most relative patents to your finger tips. </p>
            </div>
            <div class="footsec3 col-3">
                <h5 class="white-text">Customers</h5>
                <p class="grey-text text-lighten-4">Partners is london institute.</p>
            </div>
            <div class="footsec4 col-3">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            © 2020 Connect IP
        </div>
    </div>
</div>


